<nav id="main-nav">
<nobr><!--
-->______________<!--
--><a href="/"{% if page.url == "/" %} class="current"{% endif %}>[*]</a>_<!--
--><a href="/#award">[$]</a>_<!--
--><a href="/#microgrants">[&mu;]</a>_<!--
--><a href="/#about">[?]</a><!--
-->__________<!--
--><a href="/2019/miao-ying-pilgrimage-into-walden-twelve/"{% if page.url == "/2019/miao-ying-pilgrimage-into-walden-twelve/" %} class="current"{% endif %}>[2019]</a>_<!--
--><a href="/2018/mika-tajima-new-humans/"{% if page.url == "/2018/mika-tajima-new-humans/" %} class="current"{% endif %}>[2018]</a>_<!--
--><a href="/2017/kate-gilmore-they-call-us-a-storm/"{% if page.url == "/2017/kate-gilmore-they-call-us-a-storm/" %} class="current"{% endif %}>[2017]</a>_<!--
--><a href="/2016/matthew-weinstein-the-living-end/"{% if page.url == "/2016/matthew-weinstein-the-living-end/" %} class="current"{% endif %}>[2016]</a><!--
-->______________<!--
--></nobr>
<nobr><!--
-->______________________________________________<!--
--><a href="/2022/jen-liu/"{% if page.url == "/2022/jen-liu/" %} class="current"{% endif %}>[2022]</a>_<!--
--><a href="/2021/christie-neptune/"{% if page.url == "/2021/christie-neptune/" %} class="current"{% endif %}>[2021]</a>_<!--
--><a href="/2020/devin-kenny/"{% if page.url == "/2020/devin-kenny/" %} class="current"{% endif %}>[2020]</a>_<!--
-->______________<!--
--></nobr>
________________________________________________________________________________
________________________________________________________________________________
_______________/\\\________/\\\\\__________________/\\\_________________________
_______________\/\\\_______/\\\\\\_________________\/\\\________________________
________________\/\\\______/\\\\/\\\____/\\/\\\\\_/\\\\\\\\\____________________
_________________\/\\\_____/\\\_\/\\\___\/\\\////_\////\\\//____________________
__________________\/\\\____/\\\\\\\\\\___\/\\\________\/\\\_____________________
___________________\/\\\___/\\\//////\\\__\/\\\________\/\\\____________________
____________________\/\\\__/\\\_____\/\\\__\/\\\________\//\\\\\________________
_____________________\/\\\_\///______\///___\///__________\/////________________
______________________\/\\\_____________________________________________________
<nobr>_______________________\///____________________<a href="https://tech.cornell.edu/" target="_blank">[AT CORNELL TECH]</a>________________</nobr>
________________________________________________________________________________
________________________________________________________________________________
________________________________________________________________________________
</nav>

<nav id="mobile-nav">
_<!--
--><a href="/"{% if page.url == "/" %} class="current"{% endif %}>[*]</a>_<!--
--><a href="/#award">[$]</a>_<a href="/#microgrants">[&mu;]</a>_<a href="/#about">[?]</a>________________________________________________________________
_<a href="/2019/miao-ying-pilgrimage-into-walden-twelve/"{% if page.url == "/2019/miao-ying-pilgrimage-into-walden-twelve/" %} class="current"{% endif %}>[19]</a>_<!--
--><a href="/2018/mika-tajima-new-humans/"{% if page.url == "/2018/mika-tajima-new-humans/" %} class="current"{% endif %}>[18]</a>_<!--
--><a href="/2017/kate-gilmore-they-call-us-a-storm/"{% if page.url == "/2017/kate-gilmore-they-call-us-a-storm/" %} class="current"{% endif %}>[17]</a>_<!--
--><a href="/2016/matthew-weinstein-the-living-end/"{% if page.url == "/2016/matthew-weinstein-the-living-end/" %} class="current"{% endif %}>[16]</a><!--
-->____________________________________________________________
_<a href="/2022/jen-liu/"{% if page.url == "/2022/jen-liu/" %} class="current"{% endif %}>[22]</a>_<!--
--><a href="/2021/christie-neptune/"{% if page.url == "/2021/christie-neptune/" %} class="current"{% endif %}>[21]</a>_<!--
--><a href="/2020/devin-kenny/"{% if page.url == "/2020/devin-kenny/" %} class="current"{% endif %}>[20]</a>_<!--
-->_________________________________________________________________
________________________________________________________________________________
_/\\\___________________________________________________________________________
_\/\\\__________________________________________________________________________
__\/\\\_________________________________________________________________________
___\/\\\___A___A___C___T________________________________________________________
____\/\\\___R___T___O___E_______________________________________________________
_____\/\\\___T_______R___C______________________________________________________
______\/\\\___________N___H_____________________________________________________
_______\/\\\___________E________________________________________________________
________\/\\\___________L_______________________________________________________
_________\///____________L______________________________________________________
________________________________________________________________________________
</nav>
