<link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
<link href="/assets/css/styles.css?{{site.time | date: '%s'}}" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/x-icon" href="/favicon.ico">
<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
<link rel="apple-touch-icon" href="/apple-touch-icon-180x180.png" sizes="180x180">